/* header part */
* {
    font-family: 'Roboto Condensed', sans-serif;
    /* font-family: 'Sofia Sans Condensed', sans-serif; */
}

.logo {
    width: 120px;
    margin-left: 50px;
    margin-top: 20px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    margin-right: 20px;
}

.navlinks {
    display: flex;
    list-style-type: none;
}

.links {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 10px;
}

.links:hover {
    color: red;
}

#home {
    margin-top: 100px;
}
.title{
    margin-left: 50px;
    font-size: 40px;
}
#para1{
font-size: 15px;
font-weight: 10px;
color: rgb(63, 63, 63);
}
.title1{
    font-size: 50px;
    margin-bottom: 10px;
}
#name{
    color: orange;
}